<div *ngIf="store && store.id">
    <div class="flex justify-between gap-x-6 py-5">
        <div class="flex min-w-0 gap-x-4">
            <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="../../../../assets/img/store.png" alt="">
            <div class="min-w-0 flex-auto">
                <p class="text-sm font-semibold leading-6 text-gray-900">{{ store.name }}</p>
                <div class="mt-1 flex items-center gap-x-1.5">
                    <ng-container *ngIf="pendingItemsCount">
                        <div class="flex-none rounded-full bg-emerald-500/20 p-1">
                            <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
                        </div>
                        <p class="text-xs leading-5 text-gray-500">{{pendingItemsCount}} pending items</p>
                    </ng-container>
                    <ng-container *ngIf="!pendingItemsCount">
                        <div class="flex-none rounded-full bg-gray-400/20 p-1">
                            <div class="h-1.5 w-1.5 rounded-full bg-gray-400"></div>
                        </div>
                        <p class="text-xs leading-5 text-gray-500">No pending items</p>
                    </ng-container>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                    <!-- Additional content at the bottom with parent width -->
                </div>
            </div>
        </div>


        <div class="flex gap-x-2">
            <div class="shrink-0 sm:flex sm:flex-col sm:items-end">
                <div class="mb-2">
                    <button (click)="deleteStore(store.id)"
                        class="flex items-center gap-x-1 px-2 py-1 border border-red-500 rounded-lg hover:bg-red-100 focus:outline-none focus:ring focus:ring-red-300 block w-full text-left text-red-500">
                        <!-- Adjust the icon size with 'w-5 h-5' or any other size class -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="shrink-0 sm:flex sm:flex-col sm:items-end">
                <div class="mb-2">
                    <button (click)="clearCompletedItem(store.id)"
                        class="flex items-center gap-x-1 px-2 py-1 border border-green-500 rounded-lg hover:bg-green-100 focus:outline-none focus:ring focus:ring-green-300 block w-full text-left text-green-500">
                        <!-- Adjust the icon size with 'w-5 h-5' or any other size class -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-left: 50px;" class="p-2 rounded-lg">
        <app-item-list (totalPendingItemsEvent)="totalPendingItems($event)" [shopListID]="shopListID"
            [storeID]="store.id"></app-item-list>
        <app-add-item [shopListID]="shopListID" [storeID]="store.id" [storeName]="store.name"></app-add-item>
    </div>
</div>